.App {
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
.emoji-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .emoji-item {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .vote-count {
    display: block;
    margin-top: 5px;
  }
  
  .results-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .results {
    margin-top: 20px;
  }
  
  .winner-emoji {
    font-size: 3rem;
  }
  
  .reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }